* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #382a1a;
}
ol,
ul {
    list-style: none;
}
li:last-child {
    margin: 0 !important;
}
img {
    width: 100%;
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Light.woff2") format("woff2"),
        url("../assets/fonts/Poppins-Light.woff") format("woff");
    font-weight: 300; /* Light weight */
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.woff2") format("woff2"),
        url("../assets/fonts/Poppins-Regular.woff") format("woff");
    font-weight: 400; /* Regular weight */
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Medium.woff2") format("woff2"),
        url("../assets/fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500; /* Medium weight */
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Bold.woff2") format("woff2"),
        url("../assets/fonts/Poppins-Bold.woff") format("woff");
    font-weight: 700; /* Bold weight */
    font-style: normal;
}
@keyframes zoom-in-zoom-out {
    0% {
        scale: 0%;
    }

    100% {
        scale: 100%;
    }
}
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Poppins" !important;
}
#homePage {
    width: 100%;
}
#spotlight {
    width: 100%;

    background-image: linear-gradient(360deg, #ff4954 0%, #f2295b 100%);

    padding: 60px 0 160px 0;
}
.wrapper {
    width: 85%;
    margin: 0 auto;
}
#spotlight .wrapper .logoContainer {
    width: 250px;
}
#spotlight .wrapper .title {
    width: 600px;
    color: #fff;
    font-size: 50px;
    margin-top: 30px;
    font-weight: 700;
    line-height: 68px;
    font-family: Arial, Helvetica, sans-serif;
}
#membership {
    border-style: solid;
    padding: 80px 110px 90px;
}

#membership h3 {
    text-align: left;
    color: #554f67;
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 40px;
}

#membership .images {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

#membership .images li {
    margin-right: 10px;
}

#membership .images li .imageContainer.google {
    width: 255px;
    padding-bottom: 10px;
}

#membership .images li .imageContainer.iab {
    width: 120px;
}

#membership .images li .imageContainer.highPerf {
    width: 95px;
}
#membership .images li .imageContainer.FinTimes {
    width: 260px;
    padding-bottom: 30px;
}

#membership .images li .imageContainer img {
    display: block;
    width: 100%;
}
#spotlight .wrapper .title {
    width: 550px;
    color: #fff;
    font-size: 60px;
    margin-top: 50px;
    line-height: 78px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}
#spotlight .wrapper .accessItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 540px;
}
#spotlight .wrapper .accessItems p {
    color: #fff;
    /* margin-bottom: 10px; */
    font-family: Arial, sans-serif;
    font-size: 26px;
}
#spotlight .wrapper .accessItems p img {
    width: 28px;
    margin-right: 5px;
    display: inline;
}

/* FEATURES */
#features {
    background-color: #fff4f4;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 122px 90px;
}

#features h2 {
    margin-left: 69px;
    margin-bottom: 40px;
    color: #000;
    font-size: 60px;
    font-weight: 700;
    width: 50%;
    text-align: center;
}

#features ul {
}
#spotlight .wrapper .demo {
    display: none;
}
#spotlight .wrapper .news {
    width: 600px;
    background: #fff;
    border-radius: 10px;
    height: 80px;
    margin-top: 90px;
}
.slick-slider {
    height: 100%;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    height: 100%;
}
#spotlight .wrapper .news .items li .newsContainer {
    width: 180px;
}
.slick-initialized .slick-slide {
    display: flex !important;
    align-items: center;
    justify-content: space-around;
}
#features ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ff4954;
    width: 60%;
    margin-bottom: 80px;
}
#features ul li h3 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: "Poppins", Sans-serif;
}
#features ul li div.points {
    display: flex;
    flex-direction: column;
}
#features ul li span.number {
    height: 60px;
    width: 60px;
    font-weight: 600;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0 0 4px #ff4954;
    text-align: center;
    align-content: center;
    margin-right: 10px;
    background: #fff;
    font-size: 36px;
}
#features ul li p.text {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    width: 65%;
}
#features ul li .imageContainer {
    width: 235px;
}
#features ul .ads {
}

#features ul .ads .left {
    text-align: left;
}
#spotlight .wrapper .imgContainer {
    display: none;
}

#partners {
    width: 100%;
    padding: 150px 0 90px 0;
}

#partners .wrapper {
}

#partners .wrapper .title {
    font-size: 60px;
    font-family: "Poppins";
    font-weight: 800;
    width: 800px;
    text-align: center;
}

#partners .wrapper .container .left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#partners .wrapper .container .left ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
#partners .wrapper .container .left ul li:first-child {
    background-image: linear-gradient(360deg, #ff4954 0%, #f2295b 100%);
    color: #fff;
    padding: 20px 0;
    border-radius: 20px;
    align-items: center;
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
    box-shadow: 04px 8px rgb(0, 0, 0, 0.1);
}
#partners .wrapper .container .left ul li {
    animation: zoom-in-zoom-out 1s ease;
    background-image: linear-gradient(360deg, #ff4954 0%, #f2295b 100%);
    color: #fff;
    padding: 30px 0;
    border-radius: 20px;
    align-items: center;
    width: 400px;
    height: 440px;
    margin-bottom: 40px;
    box-shadow: 04px 8px rgb(0, 0, 0, 0.1);
}
#partners .wrapper .container {
    width: 62%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#partners .wrapper .container .left ul li .imageContainer {
    width: 120px;
    margin: 0 auto;
}

#partners .wrapper .container .left ul li .imageContainer img {
}

#partners .wrapper .container .left ul li h4 {
    font-size: 28px;
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 30px 0;
}

#partners .wrapper .container .left ul li p {
    font-size: 24px;
    text-align: center;
}

#partners .wrapper .container .right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#partners .wrapper .container .right ul {
    width: 58%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

#partners .wrapper .container .right ul li {
    animation: zoom-in-zoom-out 2s ease;

    background-image: linear-gradient(360deg, #ff4954 0%, #f2295b 100%);
    color: #fff;
    padding: 30px 0;
    border-radius: 20px;
    align-items: center;
    width: 400px;
    height: 440px;
    margin-bottom: 40px;
    box-shadow: 04px 8px rgb(0, 0, 0, 0.1);
}

#partners .wrapper .container .right ul li .imageContainer {
    width: 120px;
    margin: 0 auto;
}

#partners .wrapper .container .right ul li .imageContainer img {
}

#partners .wrapper .container .right ul li h4 {
    font-size: 28px;
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 30px 0;
}

#partners .wrapper .container .right ul li p {
    font-size: 24px;
    text-align: center;
}

.publish {
    width: 100%;
    padding: 100px 0;
    background-color: #fff4f4;
}

.publish .wrapper {
    width: 85%;
    margin: 0 auto;
}

.publish .wrapper .title {
    width: 900px;
    font-size: 60px;
    color: #000;
    font-weight: 800;
    text-align: center;
}
#integrate {
    width: 100%;
    padding: 100px 0;
}

#integrate .wrapper {
    margin: 0 auto;
    width: 85%;
}

#integrate .wrapper .title {
    font-size: 30px;
    color: #554f67;
    font-weight: 500;
}

#integrate .wrapper .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin-top: 40px;
}

#integrate .wrapper .list li {
    width: 33%;
}

#integrate .wrapper .list li .imgContainer {
    width: 200px;
}

#integrate .wrapper .list li .imgContainer img {
    transition: filter 0.3s;
}
#integrate .wrapper .list li .imgContainer img:hover {
    filter: sepia(100%) saturate(200%);
}
#earning {
    width: 100%;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 130px 0px 80px;
    height: 90vh;
    position: relative;
    background-image: linear-gradient(360deg, #ff4954 0%, #f2295b 100%);
}

#earning .wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
}
@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
#earning .wrapper .left {
    width: 45%;
    transform: translateX(-400px);
    animation: fadeInLeft 2s forwards;
}

#earning .wrapper .left .heading {
    width: 590px;
    color: #fff;
    font-weight: 800;
    font-size: 50px;

    font-family: "Poppins", Sans-serif;
}

#earning .wrapper .left .heading span {
}

#earning .wrapper .right {
    width: 55%;
}

#earning .wrapper .right .ImgContainer {
    width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 64px;
}

#earning .wrapper .right .ImgContainer img {
}

footer {
    width: 100%;
    padding: 60px 0 90px;
}
footer .wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .wrapper p {
    color: #383838;
    width: 600px;
    font-size: 25px;
}

footer .wrapper .back {
    color: #383838;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 660px;
    width: 100%;
    position: fixed;
    height: 860px;
    top: -110px;
    z-index: 1;
    right: 54px;
    transform: translateY(6%) scale(0.8);
}

.form-container h2 {
    color: #d33a2c;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}
.form-container p {
    color: #818181;
    text-align: center;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #818181;
}

input,
select {
    padding: 15px;
    width: 100%;
    height: 60px;
    /* margin-top: 5px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 22px;
}
input::placeholder {
    font-size: 22px;
}
.phone-input {
    display: flex;
    align-items: center;
}

.country-code {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 50px;
    height: 60px;
    font-size: 22px;
    text-align: center;
    display: flex;
    align-items: center;
}
input[type="tel"] {
    border-radius: 0 5px 5px 0;
}

.error {
    color: red;
    font-size: 12px;
    display: none;
}
button {
    background-color: #fc4b58;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border: none;
    width: 280px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 30px auto;
    border-radius: 8px;
    font-weight: 600;
    font-size: 22px;
}

button:hover {
    background-color: #b12c24;
}

.demoForm .terms {
    text-align: center;
    font-size: 10px;
    color: #818181;
    margin-top: 10px;
}
.demoForm .terms a {
    color: #818181;
    font-size: 10px;
}
/* responesive */
@media all and (max-width: 1080px) {
    #spotlight {
        padding-bottom: 100px;
    }

    #spotlight .wrapper {
        width: 90%;
    }
    #spotlight .wrapper .logoContainer {
        width: 225px;
    }
    #spotlight .wrapper .title {
        font-size: 44px;
        line-height: 58px;
        width: 580px;
    }
    #spotlight .wrapper .accessItems {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 560px;
    }
    #spotlight .wrapper .accessItems p {
        color: #fff;
        /* margin-bottom: 5px; */
        font-family: Arial, sans-serif;
        font-size: 23px;
    }
    #spotlight .wrapper .accessItems p img {
        width: 23px;
        margin-right: 5px;
        display: inline;
    }
    #spotlight .wrapper .imgContainer {
        display: none;
    }
    #spotlight .wrapper .demo {
        font-family: "Poppins", Sans-serif;
        display: block;
        background-color: #2a2733;
        border-radius: 5px;
        width: 230px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin-top: 50px;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.21);
    }
    #spotlight .wrapper .demo a {
        color: #fff;
        font-weight: 500;
        font-size: 27px;
    }
    #spotlight .wrapper .news {
        margin-top: 140px;
    }
    #spotlight .wrapper .news {
        width: 100%;
        padding: 20px 30px;
    }
    #spotlight .wrapper .news .items li .newsContainer {
        width: 200px;
    }
    #membership {
        padding: 70px 48px;
    }

    #membership h3 {
        font-size: 24px;
        margin-bottom: 28px;
    }

    #membership .images li {
        margin-right: 20px;
    }
    #membership .images li .imageContainer.google {
        width: 317px;
    }
    #membership .images li .imageContainer.FinTimes {
        width: 295px;
    }
    #features {
        padding: 90px 42px 127px 63px;
        border-top: 2px solid #ff4954;
    }

    #features ul .ads .left {
        margin-left: 44px;
    }
    #features ul li p.text {
        font-size: 26px;
        font-weight: unset;
        line-height: 35px;
        width: unset;
    }

    #features h2 {
        font-size: 40px;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    #features ul {
        margin-top: 30px;
    }
    #features ul li {
        width: 100%;
        flex-direction: row-reverse;
    }
    #features ul li h3 {
        font-size: 35px;
        font-weight: 500;
    }
    .form-container {
        display: none;
    }
    #partners {
        display: none;
    }
    .form-container {
        display: none;
    }
    .publish {
        display: none;
    }
    #integrate {
        display: none;
    }
    #earning {
        display: none;
    }
    footer {
        display: none;
    }
}
@media all and (max-width: 980px) {
    #spotlight .wrapper {
        width: 87%;
    }
    #spotlight .wrapper .logoContainer {
        width: 210px;
    }
    #spotlight .wrapper .title {
        font-size: 42px;
        line-height: 58px;
        width: 380px;
        font-weight: 600;
    }
    #spotlight .wrapper .accessItems {
        width: 451px;
    }
    #spotlight .wrapper .accessItems p {
        color: #fff;
        /* margin-bottom: 10px; */
        line-height: 40px;
        font-family: Arial, sans-serif;
        font-size: 24px;
    }
    #spotlight .wrapper .accessItems p img {
        width: 26px;
        margin-right: 5px;
        display: inline;
    }
    #spotlight .wrapper .demo {
        font-family: "Poppins", Sans-serif;
        display: block;
        background-color: #2a2733;
        border-radius: 5px;
        width: 250px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin-top: 50px;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.21);
    }
    #spotlight .wrapper .news {
        margin-top: 180px;
    }
    #membership {
        padding: 50px;
        border-bottom: 3px solid #ff4954;
    }
    #membership .images {
        justify-content: space-between;
    }
    #membership .images li {
        margin: 0;
    }
    #membership .images li .imageContainer.google {
        width: 212px;
    }
    #membership .images li .imageContainer.FinTimes {
        width: 213px;
        margin-top: 20px;
    }
    #features ul li span.number {
        font-size: unset;
    }
    #features h2 {
        width: 100%;
    }
    #features ul li {
        flex-wrap: unset;
    }
    #features ul li h3 {
        font-size: 35px;
        font-weight: 500;
        width: 420px;
        line-height: 29px;
    }

    #features ul li .imageContainer {
        width: 180px;
    }
    #features ul .ads .left {
        margin-left: 24px;
    }
    #features ul li p.text {
        font-size: 26px;
        font-weight: 400;
    }

    #features ul li {
        margin-bottom: 50px;
    }
    .form-container {
        display: none;
    }
    #partners {
        display: none;
    }
    .form-container {
        display: none;
    }
    .publish {
        display: none;
    }
    #integrate {
        display: none;
    }
    #earning {
        display: none;
    }
    footer {
        display: none;
    }
}
@media all and (max-width: 768px) {
    #spotlight {
        padding-top: 20px;
        position: relative;
    }
    #spotlight .wrapper {
        width: 92%;
    }
    #spotlight .wrapper .logoContainer {
        width: 160px;
    }
    #spotlight .wrapper .title {
        font-size: 30px;
        line-height: 48px;
        width: 450px;
    }
    #spotlight .wrapper .accessItems {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 500px;
    }
    #spotlight .wrapper .accessItems p {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 27px;
    }
    #spotlight .wrapper .accessItems p img {
        width: 18px;
        margin-right: 5px;
        display: inline;
    }
    #spotlight .wrapper .demo {
        width: 155px;
        height: 50px;
    }
    #spotlight .wrapper .demo a {
        font-size: 17px;
    }
    #spotlight .wrapper .news {
        height: 60px;
    }
    #spotlight .wrapper .news .items {
        border-radius: 20px;
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        border-radius: 6px !important;
    }
    #spotlight .wrapper .news {
        margin-top: 115px;
    }
    #spotlight {
        padding-bottom: 40px;
    }
    #spotlight .wrapper .imgContainer {
        display: block;
        position: absolute;
        width: 160px;
        right: -88px;
        top: 48px;
    }
    #membership {
        padding: 20px 25px;
    }
    #membership h3 {
        font-size: 18px;
        text-align: center;
    }
    #membership .images {
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
    }

    #membership .images li .imageContainer.google {
        margin-right: 50px;
    }
    #membership .images li .imageContainer.iab {
        margin-right: 91px;
        width: 114px;
    }
    #membership .images li .imageContainer .highPerf {
        width: 102px;
    }
    #membership .images li .imageContainer .FinTimes {
        width: 450px;
        margin: 13px 69px 0;
    }
    #membership .images li .imageContainer .google {
        width: 200px;
    }
    #membership .images li .imageContainer .iab {
        width: 100px;
    }

    #membership .images li .imageContainer.FinTimes {
        width: 460px;
        margin: 6px 88px 0;
        padding: 0;
    }
    #features {
        padding: 49px 14px 66px 9px;
    }
    #features ul li span.number {
        height: 39px;
        width: 39px;
        font-size: 25px;
    }
    #features h2 {
        width: unset;
        font-size: 26px;
    }
    #features ul li {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    #features ul li h3 {
        font-size: 22px;
    }
    #features ul li p.text {
        font-size: 16px;
        line-height: 28px;
    }
    #features ul li .imageContainer {
        width: 235px;
    }
    .form-container {
        display: none;
    }
    #partners {
        display: none;
    }
    .form-container {
        display: none;
    }
    .publish {
        display: none;
    }
    #integrate {
        display: none;
    }
    #earning {
        display: none;
    }
    footer {
        display: none;
    }
}
@media all and (max-width: 640px) {
    #spotlight {
        width: 425px;
    }
    #spotlight .wrapper {
        width: 86%;
    }
    #spotlight .wrapper .title {
        font-size: 30px;
        line-height: 46px;
        width: 304px;
        margin-bottom: 20px;
    }

    #spotlight .wrapper .accessItems {
        width: 340px;
    }
    #spotlight .wrapper .accessItems p {
        line-height: 30px;
        font-size: 16px;
    }
    #spotlight .wrapper .news {
        padding: 11px;
    }
    #spotlight .wrapper .demo {
        width: 150px;
        height: 48px;
    }
    #spotlight .wrapper .imgContainer {
        width: 153px;
        right: -56px;
        top: 30px;
    }
    #features {
        padding: 35px 19px;
    }
    #features h2 {
        width: unset;
        font-size: 24px;
        width: 400px;
        margin: 0 auto;
    }
    #features ul li span.number {
        height: 33px;
        width: 33px;
        font-size: 18px;
    }
    #features ul li h3 {
        font-size: 21px;
    }
    #features ul li .imageContainer {
        width: 170px;
    }
    #features ul .ads .left {
        margin-left: 0;
    }

    #features ul li p.text {
        font-size: 15px;
        width: 400px;
        line-height: 25px;
    }
    #membership .images li .imageContainer.FinTimes {
        width: 373px;
        margin: 8px 0px 0;
    }
    #membership .images li .imageContainer.google {
        margin-right: 0px;
        width: 130px;
    }
    #membership .images li .imageContainer.iab {
        margin-right: 16px;
        margin-left: 13px;
        width: 104px;
    }
    #membership .images li .imageContainer.highPerf {
        width: 89px;
        margin-left: 18px;
    }
    #membership {
        width: 425px;
    }
    .form-container {
        display: none;
    }
    #partners {
        display: none;
    }
    .form-container {
        display: none;
    }
    .publish {
        display: none;
    }
    #integrate {
        display: none;
    }
    #earning {
        display: none;
    }
    footer {
        display: none;
    }
}
@media all and (max-width: 480px) {
    #spotlight {
        width: 329px;
    }
    #spotlight .wrapper {
        width: 85%;
    }
    #spotlight .wrapper .title {
        font-size: 31px;
        width: 211px;
        z-index: 1;
        position: relative;
    }

    #spotlight .wrapper .imgContainer {
        right: -29px;
    }
    #spotlight .wrapper .accessItems {
        width: 261px;
    }
    #spotlight .wrapper .news {
        padding: 11px;
        height: 46px;
    }
    #membership {
        padding: 25px 20px;
        width: 329px;
    }
    #membership .images li .imageContainer.FinTimes {
        width: 279px;
        margin-left: 10px;
    }
    #membership .images li .imageContainer.FinTimes {
    }
    #membership .images li .imageContainer.google {
        width: 95px;
    }
    #membership .images li .imageContainer.iab {
        margin-right: 0;
        margin-left: 13px;
        width: 88px;
    }
    #features {
        width: 329px;
        padding: 35px 19px;
    }
    #membership .images li .imageContainer.highPerf {
        width: 83px;
        margin-left: 10px;
    }
    #features h2 {
        width: 282px;
    }
    #features ul li p.text {
        width: 269px;
    }
    #features ul li div.points {
        width: 288px;
    }
    #features ul li .imageContainer {
        width: 140px;
        margin-bottom: 10px;
    }
    #features ul li h3 {
        width: 329px;
    }
    .form-container {
        display: none;
    }
    #partners {
        display: none;
    }
    .form-container {
        display: none;
    }
    .publish {
        display: none;
    }
    #integrate {
        display: none;
    }
    #earning {
        display: none;
    }
    footer {
        display: none;
    }
}
@media all and (max-width: 360px) {
    #spotlight {
        width: 326px;
    }
    #spotlight .wrapper {
        width: 82%;
    }
    #spotlight .wrapper .title {
        position: relative;
        font-size: 36px;
        width: 203px;
        display: block;
        z-index: 1;
    }
    #spotlight .wrapper .imgContainer {
        width: 168px;
        right: -20px;
        top: 36px;
    }
    #spotlight .wrapper .accessItems {
        width: 280px;
    }
    #spotlight .wrapper .accessItems p {
        font-size: 16px;
        line-height: 30px;
    }
    #spotlight .wrapper .demo {
        width: 159px;
        height: 52px;
    }
    #spotlight .wrapper .news {
        height: 55px;
    }
    .form-container {
        display: none;
    }
    #partners {
        display: none;
    }
    .form-container {
        display: none;
    }
    .publish {
        display: none;
    }
    #integrate {
        display: none;
    }
    #earning {
        display: none;
    }
    footer {
        display: none;
    }
}

@media all and (max-width: 360px) {
    footer {
        display: none;
    }
}
